body{
    margin: 0;
    background: url("images/register.svg")no-repeat center center fixed;
    background-size: cover;
}   
header{
   
    display: flex;
    justify-content: space-between;
    
    background: linear-gradient(to bottom, #3c5e8a, #597fb1);
    color:#fcf3f3;
    opacity: 1;
    
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  .logo-div{
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 70px;
}
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  header h2{
    color:#fcf3f3;
  }
  .menu li a {
    color:#fcf3f3;
    text-decoration: none;
    font-size: 18px;
  }
  .menu li a:hover {
    color:#d1c8c8;
    text-decoration: none;
    font-size: 18px;
  }
  .main{
    margin: 40px auto auto;
    width:85%;
    display: flex;
  }
  .data{
    width:60%;
  }
  table{
    color: #ededf0;
    width:100%;
    text-align: center;
  }
  .forms{
    width:35%;
   
    margin-left: 30px;
    text-align: center;
  }
  .register{
    margin: 20px auto;
    
  }
  input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255 );
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
  }
  input::placeholder {
    color: rgb(216, 212, 212);
  }
  button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(99 102 241);
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }